<!DOCTYPE html>
<html>
	<head>
	</head>
	
	<body>
	<ul>
		<li><a href="{% url 'main' %}">Главная страница. </a></li>
		<li><a href="{% url 'all_posts' %}">Все посты. </a></li>
		<li><a href="{% url 'categories' %}">Категории. </a></li>
		<li><a href="{% url 'authors_posts' %}">Посты по авторам. </a></li>
		<li><a href="{% url 'create' %}">Страница добавление поста. </a></li>
		<li><a href="{% url 'registration' %}">Регистрация. </a></li>
		<li><a href="{% url 'user' %}">Авторы. </a></li>
	</ul>
	
	{% block content%}
	{% end block%}
	</body>
</html>